.main 
  .main__header 
    .main__header-1.welcome Welcome
    .main__header-2.tottori Tottori
    .main__header-3.welcome Welcome
    .main__header-4.tottori Tottori
    .main__header-5.welcome Welcome
  .main__content Categories 
  .main__menu
    .main__menu__food.box Food
    .main__menu__sightseeing.box Sightseeing
    .main__menu__culture.box Culture
  