.main__header {
  // background-image: image-url('/images/umi.jpg');
  font-family: 'Impact';
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  width: 100%;
}
.welcome {
  font-size: 3rem;
}
.tottori {
  font-size: 3rem;
  color: #FF7C00;
  background: -webkit-linear-gradient(top, #FFB76B 0%, #FFA73D 50%, #FF7C00 51%, #FF7F04 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 

.main__content {
  border-bottom: 1px solid lightgray;
  width: 190px;
  font-size: 2.2rem;
  font-family: serif;
  margin: 50px auto 0 auto;
}

.main__menu {
  display: flex;
  justify-content: space-between;
}
.box {
  width: 360px;
  height: 360px;
  background-color: rgb(2, 12, 19);
  color: white;
  line-height: 360px;
  font-size: 2rem;
}